<% include facciones/header %>
<div class="container">
  <h1>EDICIÓN PROVEEDOR</h1>
  <div class="cardMP-form">
    <form id="form-send" action="<%= data.idProveedor %>" method="POST">
      <p>Nombre del proveedor</p>
      <div class="form-group">
        <input type="text" name="nombre" value="<%= data.nombre %>" class="form-control" data-tipo="text" required>
      </div>
      <p>Direccion</p>
      <div class="form-group">
        <input type="text" name="direccion" value="<%= data.direccion %>" class="form-control" data-tipo="address" required>
      </div>
      <p>Persona de Contacto</p>
      <div class="form-group">
        <input type="text" name="personaContacto" value="<%= data.personaContacto %>" class="form-control" data-tipo="text" required>
      </div>
      <button type="submit" class="btn btn-primary">
        Confirmar Cambios
      </button>
    </form>
  </div>
</div>
<% include facciones/footer %>
