<% include facciones/header %>

<div class="container">
  <h1>EDITAR BODEGA</h1>
  <div class="cardMP-form">
    <form id="form-send" action="<%= data.idBodega %>" method="POST">
      <div class="form-group">
        <p>idBodega</p>
        <input type="text" readonly="readonly" value="<%= data.idBodega%>" name="idBodega" placeholder="idBodega" class="form-control"  required>
      </div>
      <div class="form-group">
        <p>Estante</p>
        <input type="text" value="<%= data.estante%>" name="estante" placeholder="estante" class="form-control" required>
      </div>
      <button type="submit" class="btn btn-primary">
        Actualizar Bodega
      </button>
    </form>
  </div>
</div>

<% include facciones/footer %>
