<footer>
  <div id="footer-top">
    <p>Todos los productos ofrecidos por Deliver Buddies representan los mejores productos no perecederos que podemos encontrar en el mercado. Todos ellos cuentan con una certificación de alta calidad, la certificación invima y la certificación ISO 22000. Todo esto con el objetivo de ofrecer a nuestros clientes los mejores productos a los mejores precios. </p>
  </div>
  <div id="footer-bottom">
    <ul>
      <li>COMPRA</li>
      <li><a href="#">Productos</a></li>
      <li><a href="#">Marcas</a></li>
      <li><a href="#">Tienda online</a></li>
    </ul>
    <ul>
      <li>ATENCIÓN AL CLIENTE</li>
      <li><a href="#">Preguntas frecuentes</a></li>
      <li><a href="#">Información sobre tamaños</a></li>
      <li><a href="#">Cómo cambiar la dirección de envío</a></li>
      <li><a href="#">Cómo cambiar mi contraseña</a></li>
      <li><a href="#">Cómo realizar la devolución de mi dinero</a></li>
    </ul>
    <ul>
      <li>INFORMACIÓN</li>
      <li><a href="#">Política de devolución</a></li>
      <li><a href="#">Pólitica de privacidad</a></li>
      <li><a href="#">Condiciones de compra</a></li>
    </ul>
    <ul>
      <li>ACERCA DE DELIVER BUDDIES</li>
      <li><a href="#">Nuestra historia</a></li>
      <li><a href="#">Empleo</a></li>
    </ul>
  </div>
</footer>
</body>
</html>
